Repository tenstorrent/tt-forge-fe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vmilosevic, @nsumrakTT, @vkovinicTT, @mstojkovicTT, @vcanicTT, @odjuricicTT

.github/CODEOWNERS:

# General
* @nvukobratTT @pilkicTT @dgolubovicTT

# CI/CD
/.github/ @nvukobratTT @pilkicTT @vmilosevic @nsumrakTT

# Models
forge/test/models @nvukobratTT @pilkicTT @dgolubovicTT @vkovinicTT @mstojkovicTT

# Benchmarks
forge/test/benchmark @vcanicTT @odjuricicTT @pilkicTT @nvukobratTT @dgolubovicTT

Remove skip mark from Jax ops test (#1978)
  forge/test/mlir/test_ops_jax.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Add support for block_diag op to unblock OFT
  forge/test/mlir/operators/eltwise_nary/test_eltwise_nary.py
  forge/test/models/pytorch/multimodal/oft/test_oft.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

add emitc_status property to tags
  forge/forge/forge_property_utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Fix zero op issue in Swin torchvision variants (#1903)
  forge/test/mlir/operators/eltwise_unary/test_eltwise_unary.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Add new models ops test
  forge/test/models_ops/test_abs.py
  forge/test/models_ops/test_add.py
  forge/test/models_ops/test_avgpool2d.py
  forge/test/models_ops/test_broadcast.py
  forge/test/models_ops/test_cast.py
  forge/test/models_ops/test_clip.py
  forge/test/models_ops/test_concatenate.py
  forge/test/models_ops/test_conv2d.py
  forge/test/models_ops/test_embedding.py
  forge/test/models_ops/test_gelu.py
  forge/test/models_ops/test_greater.py
  forge/test/models_ops/test_identity.py
  forge/test/models_ops/test_index.py
  forge/test/models_ops/test_layernorm.py
  forge/test/models_ops/test_matmul.py
  forge/test/models_ops/test_maxpool2d.py
  forge/test/models_ops/test_multiply.py
  forge/test/models_ops/test_reciprocal.py
  forge/test/models_ops/test_reduceavg.py
  forge/test/models_ops/test_relu.py
  forge/test/models_ops/test_repeatinterleave.py
  forge/test/models_ops/test_reshape.py
  forge/test/models_ops/test_resize2d.py
  forge/test/models_ops/test_sigmoid.py
  forge/test/models_ops/test_softmax.py
  forge/test/models_ops/test_sqrt.py
  forge/test/models_ops/test_squeeze.py
  forge/test/models_ops/test_subtract.py
  forge/test/models_ops/test_transpose.py
  forge/test/models_ops/test_unsqueeze.py
  forge/test/models_ops/test_where.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

WIP: lowering depends on arch name
  forge/csrc/passes/lower_to_mlir.cpp
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

try fix; no-cache
  forge/test/models/pytorch/vision/yolo/test_yolox.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

[ci] add blackhole p150 tests
  .github/workflows/test-sub.yml
  .github/workflows/test.yml
  forge/test/mlir/mnist/training/test_training.py
  forge/test/mlir/operators/matmul/test_matmul.py
  forge/test/mlir/operators/tm/test_tm.py
  forge/test/mlir/test_loss.py
Owners: @nvukobratTT, @pilkicTT, @vmilosevic, @nsumrakTT, @dgolubovicTT

set envvar ARCH_NAME in test pipeline
  .github/workflows/test-sub.yml
Owners: @nvukobratTT, @pilkicTT, @vmilosevic, @nsumrakTT

Skip matmul high memory tests [skip ci]
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/skip/matmul_high_memory.txt
  forge/test/operators/utils/failing_reasons.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Tests for convTranspose2d
  forge/forge/op_repo/pytorch_operators.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_allocation_circular_buffer.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_allocation_failed.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_mlir_runtime.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_tvm_runtime.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_unsupported_data_format.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_wrong_scalar_type.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d.py
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_fatal_python_error.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_inference_froze.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_killed.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_not_supported_groups.txt
  forge/test/operators/utils/failing_reasons.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

TestSweepsFeatures
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Skip matmul high memory tests [skip ci]
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/skip/matmul_high_memory.txt
  forge/test/operators/utils/failing_reasons.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

New failing reasons definition
  forge/test/operators/pytorch/conftest.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/loader.py
  forge/test/operators/pytorch/reduce/test_max.py
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/failing_reasons.py
  forge/test/operators/utils/failing_reasons_validation.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/plan.py
  forge/test/operators/utils/pytest.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Unary ops tests [skip ci]
  forge/test/operators/pytorch/eltwise_unary/test_unary.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/xfail/clamp_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/clamp_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/clamp_forge_runtime.txt
  forge/test/operators/pytorch/ids/xfail/clamp_ttnn_runtime.txt
  forge/test/operators/pytorch/ids/xfail/cumsum_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/exp_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/gelu_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/isnan_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/leaky_relu_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/log1p_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/log1p_special_values.txt
  forge/test/operators/pytorch/ids/xfail/log_special_values.txt
  forge/test/operators/pytorch/ids/xfail/pow_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/pow_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/pow_special_values.txt
  forge/test/operators/pytorch/ids/xfail/pow_unsupported_special_case.txt
  forge/test/operators/pytorch/ids/xfail/reciprocal_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/rsqrt_special_values.txt
  forge/test/operators/pytorch/ids/xfail/sqrt_special_values.txt
  forge/test/operators/pytorch/ids/xfail/square_attribute_error.txt
  forge/test/operators/pytorch/ids/xfail/tanh_data_mismatch.txt
  forge/test/operators/utils/failing_reasons.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

New operator remainder
  forge/test/operators/pytorch/eltwise_binary/failing_rules.py
  forge/test/operators/pytorch/eltwise_binary/test_binary.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/xfail/remainder_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/remainder_special_values.txt
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

example report cache
  forge/test/operators/pytorch/test_all.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

New failing reasons definition
  forge/test/operators/pytorch/conftest.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/loader.py
  forge/test/operators/pytorch/reduce/test_max.py
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/failing_reasons.py
  forge/test/operators/utils/failing_reasons_validation.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/plan.py
  forge/test/operators/utils/pytest.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Capture output
  forge/test/operators/pytorch/conftest.py
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/pytorch/test_query.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/dual_output.py
  forge/test/operators/utils/failing_reasons_validation.py
  forge/test/operators/utils/features.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Emulator run
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/failing_reasons_validation.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/report.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Tests for convTranspose2d
  forge/forge/op_repo/pytorch_operators.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_allocation_circular_buffer.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_allocation_failed.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_mlir_runtime.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_tvm_runtime.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_unsupported_data_format.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_wrong_scalar_type.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d.py
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_fatal_python_error.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_inference_froze.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_killed.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_not_supported_groups.txt
  forge/test/operators/utils/failing_reasons.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

RGG implementation
  forge/forge/op_repo/forge_operators.py
  forge/test/random/__init__.py
  forge/test/random/rgg/README.md
  forge/test/random/rgg/__init__.py
  forge/test/random/rgg/algorithms.py
  forge/test/random/rgg/base.py
  forge/test/random/rgg/config.py
  forge/test/random/rgg/datatypes.py
  forge/test/random/rgg/forge/__init__.py
  forge/test/random/rgg/forge/generated_model.jinja2
  forge/test/random/rgg/forge/model.py
  forge/test/random/rgg/frameworks.py
  forge/test/random/rgg/pytorch/__init__.py
  forge/test/random/rgg/pytorch/generated_model.jinja2
  forge/test/random/rgg/pytorch/model.py
  forge/test/random/rgg/shapes.py
  forge/test/random/rgg/utils.py
  forge/test/random/rgg/verify.py
  forge/test/random/test_commands.sh
  forge/test/random/test_graphs.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Unary ops tests [skip ci]
  forge/test/operators/pytorch/eltwise_unary/test_unary.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/xfail/clamp_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/clamp_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/clamp_forge_runtime.txt
  forge/test/operators/pytorch/ids/xfail/clamp_ttnn_runtime.txt
  forge/test/operators/pytorch/ids/xfail/cumsum_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/exp_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/gelu_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/isnan_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/leaky_relu_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/log1p_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/log1p_special_values.txt
  forge/test/operators/pytorch/ids/xfail/log_special_values.txt
  forge/test/operators/pytorch/ids/xfail/pow_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/pow_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/pow_special_values.txt
  forge/test/operators/pytorch/ids/xfail/pow_unsupported_special_case.txt
  forge/test/operators/pytorch/ids/xfail/reciprocal_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/rsqrt_special_values.txt
  forge/test/operators/pytorch/ids/xfail/sqrt_special_values.txt
  forge/test/operators/pytorch/ids/xfail/square_attribute_error.txt
  forge/test/operators/pytorch/ids/xfail/tanh_data_mismatch.txt
  forge/test/operators/utils/failing_reasons.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Skip matmul high memory tests [skip ci]
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/skip/matmul_high_memory.txt
  forge/test/operators/utils/failing_reasons.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

TestSweepsFeatures
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

New operator remainder
  forge/test/operators/pytorch/eltwise_binary/failing_rules.py
  forge/test/operators/pytorch/eltwise_binary/test_binary.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/xfail/remainder_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/remainder_special_values.txt
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

TestSweepsFeatures
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Use new verification in unary ops tests (#1877)
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/clamp_operator/clamp_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/cumsum_operator/cumsum_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/exp_operator/exp_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/isnan_operator/isnan_dtype_mismatch_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/log1p_operator/log1p_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/log1p_operator/log1p_runtime_error_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/log_operator/log_runtime_error_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_assertion_error_exponent_value.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_assertion_error_pcc_nan.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_automatic_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_runtime_error_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_value_error_dtype_mismatch.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/reciprocal_operator/reciprocal_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/rsqrt_operator/rsqrt_runtime_error_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/sqrt_operator/sqrt_runtime_error_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/tanh_operator/tanh_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/test_cumsum_ids_failed_automatic_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/test_unary.py
  forge/test/operators/utils/failing_reasons.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Concatenate operator - remove failing fule (#1872)
  forge/test/operators/pytorch/eltwise_nary/test_concatenate.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Fix pad not being decomposed
  forge/csrc/autograd/python_bindings.cpp
  forge/forge/op/eval/forge/pad.py
  forge/forge/op/eval/forge/tm.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

add xfail and remove num_hidden_layers
  forge/test/mlir/llama/test_llama_training.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Fix default dataformat in pybind
  forge/csrc/autograd/python_bindings.cpp
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

WIP
  forge/forge/op/eval/forge/tm.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Add index bwd
  forge/csrc/passes/lower_to_mlir.cpp
  forge/forge/op/eval/forge/tm.py
  forge/test/mlir/llama/tests/test_specific_ops_llama32.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Add index bwd
  forge/forge/op/eval/forge/tm.py
  forge/test/mlir/llama/test_llama_training.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Index bwd
  forge/csrc/passes/lower_to_mlir.cpp
  forge/forge/op/eval/forge/tm.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Add test for stable_diffusion_xl onnx
  forge/test/models/onnx/multimodal/stable_diffusion/test_stable_diffusion_xl.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

Fix Attribute error in detr
  forge/forge/tvm_calls/relay/op/forge_passes.py
  forge/test/mlir/operators/eltwise_unary/test_eltwise_unary.py
  forge/test/models/pytorch/vision/detr/test_detr.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

Solve Detr attribute error (#1854)
  forge/forge/tvm_calls/relay/op/forge_passes.py
  forge/test/mlir/operators/eltwise_unary/test_eltwise_unary.py
  forge/test/models/pytorch/vision/detr/test_detr.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

Add support for image.resize1d op
  forge/forge/tvm_calls/relay/op/forge_passes.py
  forge/test/mlir/operators/nn/test_nn.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT
