Repository tenstorrent/tt-forge-fe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vmilosevic, @nsumrakTT, @vkovinicTT, @mstojkovicTT, @vcanicTT, @odjuricicTT

Add einsum decomposition for (bhwc,hkc->bhwk) and (bhwc,wkc->bhwk)
  forge/forge/tvm_calls/relay/op/forge_passes.py
  forge/test/mlir/operators/eltwise_unary/test_eltwise_unary.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Added data format for performance benchmark tests.
  .github/workflows/perf-benchmark-sub.yml
  forge/test/benchmark/benchmark/models/efficientnet_timm.py
  forge/test/benchmark/benchmark/models/mobilenetv2_basic.py
  forge/test/benchmark/benchmark/models/segformer.py
  forge/test/benchmark/benchmark/models/vit.py
  forge/test/benchmark/benchmark/models/vovnet.py
  forge/test/benchmark/scripts/run_benchmark_wh.sh
Owners: @nvukobratTT, @pilkicTT, @vmilosevic, @nsumrakTT, @vcanicTT, @odjuricicTT, @dgolubovicTT

Run performance benchamrk tests on dataset.
  forge/test/benchmark/benchmark/models/vovnet.py
Owners: @vcanicTT, @odjuricicTT, @pilkicTT, @nvukobratTT, @dgolubovicTT

Run performance benchamrk tests on dataset.
  forge/test/benchmark/benchmark/models/mobilenetv2_basic.py
Owners: @vcanicTT, @odjuricicTT, @pilkicTT, @nvukobratTT, @dgolubovicTT

Run performance benchamrk tests on dataset.
  .github/workflows/perf-benchmark-sub.yml
  forge/test/benchmark/benchmark/models/efficientnet_timm.py
  forge/test/benchmark/benchmark/models/mobilenetv2_basic.py
  forge/test/benchmark/benchmark/models/resnet_hf.py
  forge/test/benchmark/benchmark/models/segformer.py
  forge/test/benchmark/benchmark/models/vit.py
  forge/test/benchmark/benchmark/models/vovnet.py
  forge/test/benchmark/scripts/run_benchmark_wh.sh
Owners: @nvukobratTT, @pilkicTT, @vmilosevic, @nsumrakTT, @vcanicTT, @odjuricicTT, @dgolubovicTT

Fix model_name recording in ONNX and PyTorch models tests and remove swinv2 and regnet redudant models tests
  forge/test/models/onnx/multimodal/oft/test_oft_onnx.py
  forge/test/models/onnx/text/bi_lstm_crf/test_bilstm_crf.py
  forge/test/models/onnx/vision/efficientnet/test_efficientnet.py
  forge/test/models/onnx/vision/mobilenetv2/test_mobilenetv2.py
  forge/test/models/onnx/vision/sam/test_sam_onnx.py
  forge/test/models/onnx/vision/swin/test_swin.py
  forge/test/models/onnx/vision/yolo/test_yolo_v8.py
  forge/test/models/pytorch/multimodal/oft/test_oft.py
  forge/test/models/pytorch/text/gliner/test_gliner.py
  forge/test/models/pytorch/vision/alexnet/test_alexnet.py
  forge/test/models/pytorch/vision/efficientnet/test_efficientnet_lite.py
  forge/test/models/pytorch/vision/regnet/test_regnet.py
  forge/test/models/pytorch/vision/sam/test_sam.py
  forge/test/models/pytorch/vision/yolo/test_yolo_world.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

Remove skip mark from Jax ops test
  forge/test/mlir/test_ops_jax.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Run performance benchmark tests on dataset. (#1968)
  .github/workflows/perf-benchmark-sub.yml
  forge/test/benchmark/benchmark/models/efficientnet_timm.py
  forge/test/benchmark/benchmark/models/mobilenetv2_basic.py
  forge/test/benchmark/benchmark/models/resnet_hf.py
  forge/test/benchmark/benchmark/models/segformer.py
  forge/test/benchmark/benchmark/models/vit.py
  forge/test/benchmark/benchmark/models/vovnet.py
  forge/test/benchmark/scripts/run_benchmark_wh.sh
Owners: @nvukobratTT, @pilkicTT, @vmilosevic, @nsumrakTT, @vcanicTT, @odjuricicTT, @dgolubovicTT

Unary ops tests
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/clamp_operator/clamp_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/cumsum_operator/cumsum_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/exp_operator/exp_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/isnan_operator/isnan_dtype_mismatch_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/log1p_operator/log1p_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/log1p_operator/log1p_runtime_error_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/log_operator/log_runtime_error_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_assertion_error_exponent_value.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_assertion_error_pcc_nan.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_automatic_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_runtime_error_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/pow_operator/pow_value_error_dtype_mismatch.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/reciprocal_operator/reciprocal_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/rsqrt_operator/rsqrt_runtime_error_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/sqrt_operator/sqrt_runtime_error_failed.txt
  forge/test/operators/pytorch/eltwise_unary/failed_tests_op_ids/tanh_operator/tanh_all_close_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/test_cumsum_ids_failed_automatic_value_checker.txt
  forge/test/operators/pytorch/eltwise_unary/test_unary.py
  forge/test/operators/utils/failing_reasons.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Add jax framework support in models ops test generation
  forge/forge/tvm_to_python.py
  forge/forge/tvm_unique_op_generation.py
  scripts/model_analysis/utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Add resnet50 model test for tensorflow and support TF in model ops tests generation
  forge/forge/forge_property_utils.py
  forge/forge/tvm_calls/forge_compile.py
  forge/forge/tvm_to_python.py
  forge/forge/tvm_unique_op_generation.py
  forge/test/mlir/test_ops_tf.py
  forge/test/models/tensorflow/__init__.py
  forge/test/models/tensorflow/vision/__init__.py
  forge/test/models/tensorflow/vision/resnet/__init__.py
  forge/test/models/tensorflow/vision/resnet/test_resnet.py
  forge/test/models/tensorflow/vision/resnet/utils/__init__.py
  forge/test/models/tensorflow/vision/resnet/utils/image_utils.py
  pytest.ini
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

Adds tvm changes for tracking
  forge/test/mlir/operators/tm/test_eye.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Fix model_name recording in models tests and remove swin and regnet models tests (#1977)
  forge/test/models/onnx/multimodal/oft/test_oft_onnx.py
  forge/test/models/onnx/text/bi_lstm_crf/test_bilstm_crf.py
  forge/test/models/onnx/vision/efficientnet/test_efficientnet.py
  forge/test/models/onnx/vision/mobilenetv2/test_mobilenetv2.py
  forge/test/models/onnx/vision/sam/test_sam_onnx.py
  forge/test/models/onnx/vision/swin/test_swin.py
  forge/test/models/onnx/vision/yolo/test_yolo_v8.py
  forge/test/models/pytorch/multimodal/oft/test_oft.py
  forge/test/models/pytorch/text/gliner/test_gliner.py
  forge/test/models/pytorch/vision/alexnet/test_alexnet.py
  forge/test/models/pytorch/vision/efficientnet/test_efficientnet_lite.py
  forge/test/models/pytorch/vision/regnet/test_regnet.py
  forge/test/models/pytorch/vision/sam/test_sam.py
  forge/test/models/pytorch/vision/yolo/test_yolo_world.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

Nightly Fail Inspector (#1932)
  .github/workflows/fail-inspector.yml
Owners: @nvukobratTT, @pilkicTT, @vmilosevic, @nsumrakTT

Enhance models ops tests generation
  forge/forge/python_codegen.py
  forge/forge/tvm_unique_op_generation.py
  scripts/model_analysis/generate_models_ops_test.py
  scripts/model_analysis/unique_ops_utils.py
  scripts/model_analysis/utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

wip
  forge/csrc/passes/commute_utils.cpp
  forge/test/models_ops/test_reduceavg.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

wip
  forge/csrc/passes/commute_utils.cpp
  forge/test/models_ops/test_reduceavg.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

wip
  forge/csrc/passes/commute_utils.cpp
  forge/test/models_ops/test_reduceavg.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

wip -> fused methods + both models passsing critical part
  forge/csrc/passes/commute_utils.cpp
  forge/test/models/pytorch/text/phi1/test_phi1_pt.py
  forge/test/models/pytorch/vision/resnet/test_resnet.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

wip
  forge/csrc/passes/commute_utils.cpp
  forge/test/models/pytorch/text/gemma/test_gemma_2b.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

WIP
  forge/forge/op/eval/forge/tm.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Add index bwd
  forge/forge/op/eval/forge/tm.py
  forge/test/mlir/llama/test_llama_training.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Index bwd
  forge/csrc/passes/lower_to_mlir.cpp
  forge/forge/op/eval/forge/tm.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

add xfail and remove num_hidden_layers
  forge/test/mlir/llama/test_llama_training.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Add index bwd
  forge/csrc/passes/lower_to_mlir.cpp
  forge/forge/op/eval/forge/tm.py
  forge/test/mlir/llama/tests/test_specific_ops_llama32.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Support Jax and TF framework in models ops test generation (#1848)
  forge/forge/forge_property_utils.py
  forge/forge/tvm_calls/forge_compile.py
  forge/forge/tvm_to_python.py
  forge/forge/tvm_unique_op_generation.py
  forge/test/mlir/test_ops_tf.py
  forge/test/models/tensorflow/__init__.py
  forge/test/models/tensorflow/vision/__init__.py
  forge/test/models/tensorflow/vision/resnet/__init__.py
  forge/test/models/tensorflow/vision/resnet/test_resnet.py
  forge/test/models/tensorflow/vision/resnet/utils/__init__.py
  forge/test/models/tensorflow/vision/resnet/utils/image_utils.py
  pytest.ini
  scripts/model_analysis/utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

Concatenate op: remove failing fule
  forge/test/operators/pytorch/eltwise_nary/test_concatenate.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Add sanity for phi3_5_vision tvm issue
  forge/test/models/pytorch/multimodal/phi3/test_add_img_newline_sanity.py
  forge/test/models/pytorch/multimodal/phi3/test_embedding_sanity.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

Enhance models ops tests generation
  forge/forge/python_codegen.py
  forge/forge/tvm_unique_op_generation.py
  scripts/model_analysis/generate_models_ops_test.py
  scripts/model_analysis/unique_ops_utils.py
  scripts/model_analysis/utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

fix for checking dims
  forge/csrc/passes/commute_utils.cpp
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

cleanup
  forge/csrc/passes/commute_utils.cpp
  forge/test/models/pytorch/text/gemma/test_gemma_2b.py
  forge/test/models/pytorch/vision/resnet/test_resnet.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

Updates torch to 2.7.0
  env/dist_requirements.txt
  env/linux_requirements.txt
  env/mac_requirements.txt
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

TestSweepsFeatures
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

New failing reasons definition
  forge/test/operators/pytorch/conftest.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/loader.py
  forge/test/operators/pytorch/reduce/test_max.py
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/failing_reasons.py
  forge/test/operators/utils/failing_reasons_validation.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/plan.py
  forge/test/operators/utils/pytest.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

TestSweepsFeatures
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

New failing reasons definition
  forge/test/operators/pytorch/conftest.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/loader.py
  forge/test/operators/pytorch/reduce/test_max.py
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/failing_reasons.py
  forge/test/operators/utils/failing_reasons_validation.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/plan.py
  forge/test/operators/utils/pytest.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Capture output
  forge/test/operators/pytorch/conftest.py
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/pytorch/test_query.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/dual_output.py
  forge/test/operators/utils/failing_reasons_validation.py
  forge/test/operators/utils/features.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

New failing reasons definition
  forge/test/operators/pytorch/conftest.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/loader.py
  forge/test/operators/pytorch/reduce/test_max.py
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/failing_reasons.py
  forge/test/operators/utils/failing_reasons_validation.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/plan.py
  forge/test/operators/utils/pytest.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

TestSweepsFeatures
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

call malloc trim after tests
  conftest.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

.github/CODEOWNERS:

# General
* @nvukobratTT @pilkicTT @dgolubovicTT

# CI/CD
/.github/ @nvukobratTT @pilkicTT @vmilosevic @nsumrakTT

# Models
forge/test/models @nvukobratTT @pilkicTT @dgolubovicTT @vkovinicTT @mstojkovicTT

# Benchmarks
forge/test/benchmark @vcanicTT @odjuricicTT @pilkicTT @nvukobratTT @dgolubovicTT
