Repository tenstorrent/tt-forge-fe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vmilosevic, @nsumrakTT, @vkovinicTT, @mstojkovicTT, @vcanicTT, @odjuricicTT

[OP] Unsqueeze op fix - torch.bool -> DataFormat.Int32 (#1925)
  forge/forge/tensor.py
  forge/test/models_ops/test_unsqueeze.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Skip matmul high memory tests [skip ci]
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/skip/matmul_high_memory.txt
  forge/test/operators/utils/failing_reasons.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

New failing reasons definition
  forge/test/operators/pytorch/conftest.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/loader.py
  forge/test/operators/pytorch/reduce/test_max.py
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/failing_reasons.py
  forge/test/operators/utils/failing_reasons_validation.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/plan.py
  forge/test/operators/utils/pytest.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

New operator remainder
  forge/test/operators/pytorch/eltwise_binary/failing_rules.py
  forge/test/operators/pytorch/eltwise_binary/test_binary.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/xfail/remainder_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/remainder_special_values.txt
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

TestSweepsFeatures
  forge/test/operators/pytorch/test_all.py
  forge/test/operators/utils/__init__.py
  forge/test/operators/utils/features.py
  forge/test/operators/utils/utils.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Unary ops tests [skip ci]
  forge/test/operators/pytorch/eltwise_unary/test_unary.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/xfail/clamp_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/clamp_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/clamp_forge_runtime.txt
  forge/test/operators/pytorch/ids/xfail/clamp_ttnn_runtime.txt
  forge/test/operators/pytorch/ids/xfail/cumsum_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/exp_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/gelu_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/isnan_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/leaky_relu_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/log1p_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/log1p_special_values.txt
  forge/test/operators/pytorch/ids/xfail/log_special_values.txt
  forge/test/operators/pytorch/ids/xfail/pow_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/pow_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/pow_special_values.txt
  forge/test/operators/pytorch/ids/xfail/pow_unsupported_special_case.txt
  forge/test/operators/pytorch/ids/xfail/reciprocal_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/rsqrt_special_values.txt
  forge/test/operators/pytorch/ids/xfail/sqrt_special_values.txt
  forge/test/operators/pytorch/ids/xfail/square_attribute_error.txt
  forge/test/operators/pytorch/ids/xfail/tanh_data_mismatch.txt
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Tests for convTranspose2d
  forge/forge/op_repo/pytorch_operators.py
  forge/test/operators/pytorch/ids/failing_reasons_register.py
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_allocation_circular_buffer.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_allocation_failed.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_data_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_dtype_mismatch.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_mlir_runtime.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_tvm_runtime.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_unsupported_data_format.txt
  forge/test/operators/pytorch/ids/xfail/conv_transpose_2d_wrong_scalar_type.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d.py
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_fatal_python_error.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_inference_froze.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_killed.txt
  forge/test/operators/pytorch/nn/test_convtranspose2d_ids_failed_not_supported_groups.txt
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Implement index bwd operation (#1787)
  forge/csrc/autograd/python_bindings.cpp
  forge/forge/op/eval/forge/pad.py
  forge/forge/op/eval/forge/tm.py
  forge/test/mlir/llama/test_llama_training.py
  forge/test/mlir/llama/tests/test_specific_ops_llama32.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Try showing host telemetry
  .github/workflows/test-sub.yml
  .github/workflows/test.yml
Owners: @nvukobratTT, @pilkicTT, @vmilosevic, @nsumrakTT

Handle None min/max in Clip op properly in tvm
  forge/test/test_model_parts.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Fix inputs
  .github/workflows/test.yml
Owners: @nvukobratTT, @pilkicTT, @vmilosevic, @nsumrakTT

Always run "End telemetry collection"
  .github/workflows/test-sub.yml
Owners: @nvukobratTT, @pilkicTT, @vmilosevic, @nsumrakTT

updating instructions to exclude steps that should be handled by the installer, bug filed
  docs/src/getting-started.md
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Handle None min/max in Clip op properly in tvm (#1972)
  forge/test/test_model_parts.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

Re-enable the skipped set5 tests in CI
  forge/test/models/pytorch/vision/perceiverio/test_perceiverio.py
  forge/test/models/pytorch/vision/unet/test_unet.py
  forge/test/models/pytorch/vision/vgg/test_vgg.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT, @vkovinicTT, @mstojkovicTT

Fix einsum that is marked as xfail although it passes
  forge/test/mlir/operators/eltwise_binary/test_eltwise_binary.py
Owners: @nvukobratTT, @pilkicTT, @dgolubovicTT

.github/CODEOWNERS:

# General
* @nvukobratTT @pilkicTT @dgolubovicTT

# CI/CD
/.github/ @nvukobratTT @pilkicTT @vmilosevic @nsumrakTT

# Models
forge/test/models @nvukobratTT @pilkicTT @dgolubovicTT @vkovinicTT @mstojkovicTT

# Benchmarks
forge/test/benchmark @vcanicTT @odjuricicTT @pilkicTT @nvukobratTT @dgolubovicTT
